:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --red-100-color: #fc415b;
  --yello-color: #e3ca6a;
  --red-900-color: #140606;
}
@font-face {
  font-family: font1;
  src: url(/public/AmericanCaptain-MdEY.ttf);
}
@font-face {
  font-family: font2;
  src: url(/public/SdAsteroidB612-wo3e2.otf);
}
