:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --red-100-color: #fc415b;
  --yello-color: #e3ca6a;
  --red-900-color: #140606;
}
@font-face {
  font-family: font1;
  src: url(/public/AmericanCaptain-MdEY.ttf);
}
@font-face {
  font-family: font2;
  src: url(/public/SdAsteroidB612-wo3e2.ttf);
}

.page2 {
  /* background: #000; */
  position: relative;
  width: 100%;
  height: 100vh;
}
.texts1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-121a {
  color: #e3ca6a;
  z-index: 9;
  position: absolute;
}
.text-aa {
  font-family: font2;
  font-size: 35vw;
  font-weight: 900;
  letter-spacing: 20px;
}
.texts {
  position: absolute;

  color: transparent;
  /* text-shadow: 0px 0px 0px 2px #e3ca6a; */
  z-index: 119;
  -webkit-text-stroke: #e3ca6a 1.6px;
}
.span-n {
  /* font-family: font2; */
  font-size: 4vw;
  font-weight: 500;
}
.page3 {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
    -45deg,
    var(--red-900-color) 50%,
    var(--primary-color) 50%
  ); */
  padding: 1.5%;
}
.page3-a {
  width: 100%;
  height: 100%;
  /* display: flex; */
}
.page3-l {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 1%;
  font-family: font2;

  /* background: #fc415b; */
}
.page3-l h1 {
  overflow: hidden;
  color: #e3ca6a;
  font-size: 4.5vw;
}
.page3-l p {
  margin-top: 30px;
  min-width: 39vw;
  /* text-align: start; */
  font-size: 2.5vw;
}
.page3-r {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page3img {
  width: 40vw;
  position: absolute;
  rotate: 10deg;
  z-index: 10;
}

.page1img {
  width: 30vw;
  position: fixed;
  z-index: 10;
  rotate: 10deg;
  filter: contrast(1.2);
  -webkit-filter: contrast(1.2);
}
.page-about2{
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(
    -45deg,
    var(--red-900-color) 40%,
    var(--primary-color) 40%
  ); */
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  /* align-items: center; */
}
.text-about22{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: font2;
  overflow: hidden;
  /* font-size: 3vw; */
  /* font-weight: 500; */
}

.text-about22 h3{
  color: #e3ca6a;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: font1;
  font-size: 3vw;
  font-weight: 500;
}

.text-about22 p{
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: font2;
  font-size: 3vw;
  font-weight: 300;
}
@media only screen and (min-height: 768px) {
  .page1img {
    width: 35vw;
    position: fixed;   
  }
}
@media only screen and (max-width: 600px) {
  .page1img {
    width: 38vw;
    position: fixed;   
  }
  .page3-a {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* background: #e3ca6a; */
  }
  .text-aa{
    font-size: 40vw;
  }

  .page3-l {
    width: 100%;
    height: 100%;
    top: 40%;
    /* background: #db2727; */
    font-family: font2;
    position: absolute;
  }
  .page3-l h1{
    color: #e3ca6a;
    font-size: 12vw;
    text-align: center;
    opacity: 1;
    /* text-wrap: nowrap; */
  }
  .page3-l p{
    margin-left: 20px;
    width: 300px;
    font-size: 5vw;
    /* text-align: center; */
    opacity: 1;
    /* text-wrap: nowrap; */
  }
  .Cyberstud21 p{
    font-size: 4vw;
    
    opacity: 1;
  }


  .page-about2{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(
      -45deg,
      var(--red-900-color) 40%,
      var(--primary-color) 40%
    ); */
    padding: 1.5%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-about22{
    margin-top: -50%;
    position: relative;
    left: 20%;
  }
  .text-about22 h3{
    color: #e3ca6a;
    font-size: 5vw;
  }
  .text-about22 p{
    font-size: 4vw;
  }
}