:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --red-100-color: #fc415b;
  --yello-color: #e3ca6a;
  --red-900-color: #140606;
}
@font-face {
  font-family: font1;
  src: url(/public/AmericanCaptain-MdEY.ttf);
}
@font-face {
  font-family: font2;
  src: url(/public/SdAsteroidB612-wo3e2.otf);
}
.page1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.page1 .main_video {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  background-image: url("/public/page1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.3);
  -webkit-filter: contrast(1.3);
  padding: 2%;
}
.page1 .main_video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-page1_ h1 {
  position: absolute;
  top: 30%;
  font-family: font1;
  font-size: 4vw;
  letter-spacing: 5px;
  width: 25%;
  color: var(--secondary-color);
}
.text-page1_ p {
  position: absolute;
  top: 55%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  width: 25%;
  color: var(--secondary-color);
}
.boxs1 {
  position: absolute;
  top: 24%;
  padding: 2px;
  left: 45%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 0.7;
  animation: boxs 0.3s both;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: boxs 5s both infinite;
}
.box1 {
  position: absolute;
  top: 24%;
  left: 45%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6d6d68e;
  color: #000000;
  border-radius: 50%;
}
.boxs2 {
  position: absolute;
  padding: 2px;
  top: 30%;
  left: 60%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 0.7;
  animation: boxs 0.3s both;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: boxs 5s both infinite;
}
.box2 {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6d6d68e;
  color: #000000;
  border-radius: 50%;
}
.boxs3{
  position: absolute;
  padding: 2px;
  top: 63%;
  left: 46%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 0.7;
  animation: boxs 0.3s both;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: boxs 5s both infinite;
}
.box3{
  position: absolute;
  top: 63%;
  left: 46%;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6d6d68e;
  color: #000000;
  border-radius: 50%;
}

.crad1{
  z-index: 600000;
  position: absolute;
  top: 15%;
  left: 11%;
  width: 450px;
  height: 150px;
  background-color: var(--secondary-color);
  display: none;
  /* align-items: center; */
  justify-content: center;
  padding: 1%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  animation:  1s ;

}
.crad2{
  z-index: 600001;
  animation: display 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 51%;
  width: 450px;
  height:150px;
  background-color: var(--secondary-color);
  display: none;
  justify-content: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-animation: display 0.5s ease-in-out;
}
.crad3{
  z-index: 60002;
  animation:  1s ;
  position: absolute;
  top: 15%;
  left: 65%;
  width: 450px;
  height: 150px;
  background-color: var(--secondary-color);
  display: none;
  justify-content: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

}
.crad1-texts{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  color: #000000;
}
.crad1-texts h1{
  font-size: 2vw;
  font-family: font2;
  color: #000000;
}

.crad1-texts p{
  font-size: 1.3vw;
  width: 300px;
  font-family: font2;
}

.crad2-texts{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  color: #000000;
}

.crad2-texts h1{
  font-size: 2vw;
  font-family: font2;
}

.crad2-texts p{
  font-size: 1.3vw;
  width: 300px;
  font-family: font2;
}
.crad3-texts{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  color: #000000;
}

.crad3-texts h1{
  font-size: 2vw;
  font-family: font2;
}

.crad3-texts p{
  font-size: 1.3vw;
  width: 300px;
  font-family: font2;
}
@keyframes boxs {
  0% {
   scale: 1.5;
  }
  25%{
    scale: 1;
  }
  
  50%{
    scale: 1.5;
  }
  75%{
    scale: 1;
  }
  100%{
    scale: 1;
  }
}
/* .navbar{} */
.nav {
  z-index: 9999;
  position: relative;
  font-family: font1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 3vw;
  font-size: 2vw;
}
.nav a {
  color: var(--secondary-color);
  text-decoration: none;
}
.nav a img {
  width: 20vw;
}
.nav a:hover {
  color: var(--red-100-color);
  animation: navtext 1s ease forwards;
  -webkit-animation: navtext 1s ease forwards;
}

.nav .nav-shop {
  position: absolute;
  left: 45%;
  opacity: 0;
}
.nav .nav-all {
  position: absolute;
  left: 45%;
  opacity: 0;
}
.nav-img {
  position: absolute;
  left: 42%;
  opacity: 0;
  top: 10px;
}
.nav-daily {
  position: absolute;
  left: 45%;
  opacity: 0;
}
.nav-more {
  position: absolute;
  left: 45%;
  opacity: 0;
}

.mobile_nav {
  display: none;
}
.mobile_nav_ {
  display: none;
}

@media (max-width: 600px) {
  .page1 .main_video {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-image: url("/public/cyberstud_mobile_view_ff5f41fe-f971-42d0-836e-e41967e9dc8a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav {
    display: none;
  }
  .mobile_nav {
    width: 100%;
    height: 10vw;
    display: flex;
    /* background: #69696991; */
    backdrop-filter: blur (10px);
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .mobile_nav > .left_mobile_nav .left_mobile_nav_img img {
    scale: 1.3;
    margin-left: 20px;
  }
  .mobile_nav > .right_mobile_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 6vw;
    gap: 2vw;
    position: relative;
  }
  .mobile_nav > .right_mobile_nav .nav_line {
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 20px;
  }

  .mobile_nav_ {
    display: block;
    width: 100%;
    height: 100vh;
    background: #fc415b;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: -100vw;
  }
  .mobile_nav-_ {
    width: 100%;
    height: 100%;
    /* background: #000; */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_nav_box {
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }
  .mobile_nav_box > a {
    font-size: 8vw;
    color: #ffffff;
    text-decoration: none;
    font-family: font1;
    text-align: center;
    letter-spacing: 0.6vw;
  }
  .text-page1_ h1 {
    position: absolute;
    top: 3%;
    left: 30%;
    font-family: font1;
    font-size: 6vw;
    letter-spacing: 5px;
    width: 50%;
    color: var(--secondary-color);
  }
  .text-page1_ p {
    position: absolute;
    top: 10%;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    width: 50%;
    color: var(--secondary-color);
  }
  .boxs1 {
    position: absolute;
    padding: 2px;
    top: 26%;
    left: 47%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.7;
    animation: boxs 0.3s both;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: boxs 5s both infinite;
  }
  .box1 {
    position: absolute;
    top: 26%;
    left: 47%;
    width: 25px;
    height:25px;
    background-color: var(--secondary-color);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d68e;
    color: #000000;
    border-radius: 50%;
  }
  .boxs2 {
    position: absolute;
    padding: 2px;
    top: 40%;
    left: 70%;
    width:  25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    opacity: 0.7;
    animation: boxs 0.3s both;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: boxs 5s both infinite;
  }
  .box2 {
    position: absolute;
    top: 40%;
    left: 70%;
    width:  25px;
    height: 25px;
    background-color: var(--secondary-color);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d68e;
    color: #000000;
    border-radius: 50%;
  }
  .boxs3{
    position: absolute;
    padding: 2px;
    top:  60%;
    left:65%;
    border-radius: 50%;
    width:  25px;
    height: 25px;
    background-color: var(--secondary-color);
    opacity: 0.7;
    animation: boxs 0.3s both;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: boxs 5s both infinite;
  }
  .box3{
    position: absolute;
    top: 60%;
    left: 65%;
    width:  25px;
    height: 25px;
    background-color: var(--secondary-color);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d68e;
    color: #000000;
    border-radius: 50%;
  }
  .crad1{
    position: absolute;
    top: 70%;
    left: 11%;
    width: 300px;
    height: 150px;
    background-color: var(--secondary-color);
    display: none;

    justify-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    animation:  1s ;
  
  }
  .crad2{
    animation: display 0.5s ease-in-out;
    position: absolute;
    top: 70%;
    left: 11%;
    width: 300px;
    height:150px;
    background-color: var(--secondary-color);
    display: none;

    justify-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-animation: display 0.5s ease-in-out;
  }
  .crad3{
    animation:  1s ;
    position: absolute;
    top: 70%;
    left: 11%;
    width: 300px;
    height: 150px;
    background-color: var(--secondary-color);
    display: none;
    justify-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  
  }
  .crad1-texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    color: #000000;
  }
  .crad1-texts h1{
    font-size: 5vw;
    font-family: font2;
    color: #000000;
  }
  
  .crad1-texts p{
    font-size: 4vw;
    width: 200px;
    font-family: font2;
  }
  
  .crad2-texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    color: #000000;
  }
  
  .crad2-texts h1{
    font-size: 5vw;
    font-family: font2;
  }
  
  .crad2-texts p{
    font-size: 4vw;
    width: 200px;
    font-family: font2;
  }
  .crad3-texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    color: #000000;
  }
  
  .crad3-texts h1{
    font-size: 5vw;
    font-family: font2;
  }
  
  .crad3-texts p{
    font-size: 4vw;
    width: 200px;
    font-family: font2;
  }
}
