* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --red-100-color: #fc415b;
    --yellow-color: #e3ca6a;
    --red-900-color: #140606;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* pointer-events: none; */
    user-select: none;
    color: #ffffff;
    cursor: none;
    background-color: #000000;
  }
  
  .cursor {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998989; /* Ensure cursor has the highest z-index */
    pointer-events: none;
    mix-blend-mode: difference ;
  }
  .circle {
    /* z-index: -2; */
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    position: fixed;
    pointer-events: none;
  }
  
  .nav {
    z-index: 100; /* Lower than cursor z-index */
    position: relative;
    font-family: font1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 3vw;
    font-size: 2vw;
  }
  
  .nav a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .nav a img {
    width: 20vw;
  }
  
  .nav a:hover {
    color: var(--red-100-color);
  }
  
  .nav .nav-shop,
  .nav .nav-all,
  .nav .nav-img,
  .nav-daily,
  .nav-more {
    position: absolute;
    left: 45%;
    opacity: 0;
  }
  .nav-img {
    left: 42%;
    top: 10px;
  }
  canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    pointer-events: none;
    
  }