*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
}
/* ::-webkit-scrollbar{
    width: 5px;
} */
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --red-100-color: #fc415b;
    --yello-color: #e3ca6a;
    --red-900-color: #140606;
}
#main{
    position: relative;
}
.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .1;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    -webkit-transition: all .1;
    -moz-transition: all .1;
    -ms-transition: all .1;
    -o-transition: all .1;
}