* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  :root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --red-100-color: #fc415b;
    --yellow-color: #e3ca6a;
    --red-900-color: #140606; 
  }
  ::-webkit-scrollbar{
   display: none;
  }
  html, body {
    height: 100%;
    width: 100%;
    
    /* pointer-events: none; */
    user-select: none;
    color: #ffffff;
    cursor: none;
    background-color: #000000;
  }
  .main{
    overflow-x: hidden;
  }
  .cursor {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998989; /* Ensure cursor has the highest z-index */
    pointer-events: none;
    mix-blend-mode: difference ;
  }
  .circle {
    /* z-index: -2; */
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    position: fixed;
    pointer-events: none;
  }
  .split-text{
    display: inline-block;
  }
  .nav {
    z-index: 100; /* Lower than cursor z-index */
    position: relative;
    font-family: font1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 3vw;
    font-size: 2vw;
  }
  
  .nav a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .nav a img {
    width: 20vw;
  }
  
  .nav a:hover {
    color: var(--red-100-color);
  }
  
  .nav .nav-shop,
  .nav .nav-all,
  .nav .nav-img,
  .nav-daily,
  .nav-more {
    position: absolute;
    left: 45%;
    opacity: 0;
  }
  .nav-img {
    left: 42%;
    top: 10px;
  }
  canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    pointer-events: none;
    
  }
  .newtext{
    display:inline-block;
    overflow: hidden;
  }
  .Cyberstud21 span{
    display:inline-block;
    letter-spacing: -11px;
    transform-style:preserve-3d;
    transform-origin:bottom;
  }

  .sharingon {
    width: 6em;
    height: 6em;
    background-color: red;
    border: 6px solid black;
    -webkit-animation: rot 1s ease-in-out infinite;
            animation: rot 1s ease-in-out infinite;
   
  }
  
  .ring {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 3.5em;
    height: 3.5em;
    border: 4px solid rgb(110, 13 ,13 ,0.5);
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  
  .sharingon, .ring, .to,.circle1 {
    border-radius: 50%;
  }
  
  .to,.circle1 {
    position: absolute;
    content: "";
    width: 0.9em;
    height: 0.9em;
    background-color: black;
  }
  
  .to:nth-child(1) {
    top: -0.5em;
    left: 50%;
    -webkit-transform: translate(-40%);
        -ms-transform: translate(-40%);
            transform: translate(-40%);
  }
  
  .to::before {
    content: "";
    position: absolute;
    top: -0.5em;
    right: -0.2em;
    width: 1.1em;
    height: 0.9em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 16px solid black;
    border-radius: 100% 0 0;
  }
  
  .to:nth-child(2) {
    bottom: 0.5em;
    left: -0.35em;
    -webkit-transform: rotate(-120deg);
        -ms-transform: rotate(-120deg);
            transform: rotate(-120deg);
  }
  
  .to:nth-child(3) {
    bottom: 0.5em;
    right: -0.35em;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  
  .circle1 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-box-shadow: 0 0 20px 1px;
            box-shadow: 0 0 20px 1px;
    width: 1em;
    height: 1em;
  }
  
  @-webkit-keyframes rot {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rot {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
  }